absl-py==2.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.3
cryptography==46.0.7
cycler==0.12.1
exceptiongroup==1.3.1
Farama-Notifications==0.0.6
fastapi==0.135.2
filelock==3.25.2
fonttools==4.62.1
fsspec==2026.2.0
greenlet==3.3.2
grpcio==1.80.0
gym==0.26.2
gym-notices==0.1.0
gymnasium==1.2.3
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
Jinja2==3.1.6
kiwisolver==1.5.0
loguru==0.7.3
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib==3.10.9
minio==7.2.20
mpmath==1.3.0
networkx==3.6.1
numpy==2.4.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
opencv-python==4.13.0.92
packaging==25.0
pandas==3.0.2
pillow==12.1.1
protobuf==7.34.1
psutil==7.2.2
psycopg==3.3.3
psycopg-binary==3.3.3
psycopg2==2.9.11
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-settings==2.14.0
pydantic_core==2.41.5
PyMySQL @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pymysql_1756086805/work
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.26
PyYAML==6.0.3
requests==2.33.1
setuptools==80.10.2
six==1.17.0
SQLAlchemy==2.0.48
sse-starlette==3.3.4
stable_baselines3==2.8.0
starlette==1.0.0
sympy==1.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
thop==0.1.1.post2209072238
torch==2.6.0+cu118
torchaudio==2.6.0+cu118
torchvision==0.21.0+cu118
triton==3.2.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.42.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
Werkzeug==3.1.8
wheel==0.46.3
